*{
    margin: 0px;
    padding: 0px;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
   flex-direction: row;
   /* justify-content: center; */
   display: flex;
   margin-top: 4rem;

   background: rgba(0, 0, 0, 0.1); 
   padding: 0px;
   margin: 0px;
   height: 7rem;
  
 
}
.bgcolor{
    background-color: rgb(0, 0, 0);
    color: rgb(252, 243, 243);
    border-bottom: 1px solid white;
}
.img{
    width: 62.8rem;
    height: 100%; 
    
}


.nav{
   
    /* margin-left: 10rem; */
    height: 2rem;
    margin: 1rem;
    margin-top: 3rem;
    margin-left: 1rem;
    background: rgba(0, 0, 0, 0); 
   
}
.nav:hover{
    color: yellow;
    cursor: pointer;
}
.icon{
    width: 5rem;
    height: 5rem;
    /* margin-left: 1rem; */
    margin: 1rem 0rem 1rem 1rem;

    border-radius: 5rem;

}
.icon-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.nav-name{
    /* margin-right: 10rem;     */
    font-size:x-large;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2.5rem 7rem 5rem 1rem;
    background: rgba(0, 0, 0, 0); 
    height: 4rem;
}
.cent{
   height: 40rem;
   width: 62rem;
   position: relative;
   text-align: center;
   color: white;
}


  .top-left {
    position: absolute;
    top: 18rem;
    left: 4rem;   
    background: rgba(0, 0, 0, 0); 
    font-weight: 800;
    font-size: 2rem;
    text-align: left;
  
  }
  .text-contain{
    position: absolute;
    top: 23.5rem;
    left: 4rem;   
    background: rgba(0, 0, 0, 0); 
    /* font-weight: 800; */
    /* font-size: 2rem; */
    text-align: left;
    width: 30rem;  
  }
.btn{
    background-color: yellow;
    width: 6rem;
    height: 2.5rem;
    border-radius: 1rem;
    margin: -0.5rem 0rem 0rem 1rem;
    border: 0px;

}
.btn1{
    background-color: yellow;
    width: 10rem;
    height: 3.5rem;
    border-radius: 1rem;
    margin: -1rem -4rem -1rem -1.5rem;
    border: 0px;
    color: red;
    font-size:large;
}
a{
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0); 

}
a:hover{
    color: yellow;
    cursor: pointer;
}
.food-menu{
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: rgb(255, 255, 0);
}
.p-item{
    display: flex;
    justify-content: center;
   
    height: 5rem;

}
.p-item-icon{
 
    width: 3rem;
    color: darkgoldenrod;
    
}
.p-item-text{
  
    width: 6rem;
    margin-top: 0.5rem;
}
.text-cnt{
    opacity: 0.7;
}
.text-main{
    font-weight: 800;
    font-size: medium;
}
.i-image{
   margin-left: 1rem;
   margin-top: 1rem;
   font-size: x-large;
}
.food-items{
   
    display: flex;
    flex-wrap: wrap;
    

}
.row1{
    
    width: 30rem;
    margin-left: 1rem;
   
    display: flex;
    flex-wrap: wrap;
}
.food-pic{
  
    width: 6rem;
    height: 6rem;
}
.p-item-text1{
   
    width: 20rem;
    height: 6rem;
    margin-left: 1rem;
    padding: 1rem;
}
.menu-img{
    width: 100%;
}

/* about Section */

.cent-about{
   height: 30rem;
   width: 100%;
   position: relative;
   text-align: center;  
   background: rgba(0, 0, 0, 0.5); 

}
.top-about {
    position: absolute;
    top: 10rem;
    left: 24rem;   
    background: rgba(0, 0, 0, 0); 
    font-weight: 800;
    font-size: 4rem;
    text-align: left;
    color: white;
  
  }
  .text-about-contain{
    position: absolute;
    top: 15rem;
    left: 26rem;   
    background: rgba(0, 0, 0, 0); 
    /* font-weight: 800; */
    /* font-size: 2rem; */
    text-align: left;
    width: 30rem;  
  }
  .about-img{
    width: 100%;
    height: 100%;  
    opacity: 0.7; 
    
}
.about-section{
    flex-direction: row;
   /* justify-content: center; */
   display: flex;
   margin-top: 4rem;

}
.about-pic{
   
    width: 28.4rem;
    height: 26rem;
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.pic1{
   
    width: 14rem;  
    height: 12rem;
   
}

.img1{
    width: 12rem;
    margin-left: 2rem;
    
}
.img2{
    width: 12rem;
    height: 9rem;
    margin-left: 1rem;
    margin-top: 3rem;
}.img3{
    width: 12rem;
    height: 9rem;
    margin-left: 2rem;
   
}.img4{
    width: 12rem;
    margin-left: 1rem;
   
}

.about-text{
    
    margin-left: 2rem;
    width: 28rem;
    padding: 1rem;
   
}
.icon{
  color: yellow; 

}
.text-about{
    width: 20rem;
    text-align: left;
    opacity: 0.6;
}
.footer{
    
    height: 25rem;
    background-color: #0F172B; 
    color: yellow;
}
.row{
    display: flex;
}
.footer-container{
      
    margin-left: 2.2rem;
    margin-top: 4rem;
    width: 19rem;
    height: 20rem;
}
.heading{
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    font-size: large;
}
.footer-a{
   
    line-height: 2.5rem;
    color: #F1F8FF;
    margin-top: -1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
